
header {
    position: relative;
    padding: 0 32px;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.navbar .logo {
    height: 46px
}

.navbar .logo img {
    width: 140px;
    cursor: pointer;
}

.navbar .links {
    margin-left:24px;
    display: flex;
    gap: 32px;
}

.navbar .links a:hover {
    border-bottom: 1px solid #fff;
}

.navbar .menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.navbar .menus .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .menus .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.action_btn {
    display:block;
    border:1px solid #fff;
    margin-left:6px;
    padding:6px 16px;
    outline: none;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.login_name {
    color:#fff;
    padding: 0.5rem 0.2rem;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight:400;
    cursor: pointer;
}

.navbar .toggle_btn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .toggle_btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    color: var(--text-color);
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 9999999999999;
}

.dropdown_menu.open {
    height: 250px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

.dropdown_menu li a:hover {
    color: orange;
    background-color: rgba(0, 0, 0, 0%);
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu .login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dropdown_menu .login_box .login_name {
    cursor: default;
}

.dropdown_menu .login_box a {
    margin: 0.5rem;
}

.dropdown_menu .login_box .logout_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 0.4rem;
}

.dropdown_menu .login_box .logout_btn:hover {
    cursor: pointer;
    color: orange;
    background-color: rgba(0, 0, 0, 0%);
}

.user_info_wrap {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: right;
    margin: 0 auto;
}

.user_info {
    position: absolute;
    top: 68px;
    right:45px;
    width: 160px;
    padding:5px 0;
    background:#fff;
    border-radius:12px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 9999999999999999;
}

.user_info li {
    padding:7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_info li a {
    color:#101010;
    text-decoration:none;
    line-height: 22px;
    border-bottom:1px solid #fff;
}
.user_info li a:hover {
    line-height: 22px;
    border-bottom:1px solid #222;
}

.user_info li div{
    margin-bottom:1px;
}
.user_info li div:hover {
    cursor: pointer;
    line-height: 22px;
    margin-top:-1px;
    margin-bottom:-2px;
    border-bottom:1px solid #222;
}

.user_info .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.notification-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    background:url("../../public/images/ico_alert02.png") no-repeat center / 24px;
}

.notification-container path{
    display: none;
}

.notification-list {
    min-width: 300px;
    position: absolute;
    top: 100%;
    right: -100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgba(200, 200, 200, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 9999999999999999;
}


.notifications li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.notifications li:hover {
    color: orange;
    background-color: rgba(0, 0, 0, 0%);
}

.notifications li:last-child {
    border-bottom: none;
}

@media (max-width: 900px) {

    .navbar .links,
    .navbar .menus .buttons {
        display: none;
    }

    .navbar .menus .toggle_btn {
        display: flex;
    }

    .dropdown_menu {
        display: block;
    }

    .user_info {
        display: none;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}