/*-----------------------------------------------------------------------*/
.home-wrap {
    display:flex;
    flex-direction:column;
}

.home-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-characters {
    display: flex;
    flex-direction: row;
}

.characters-info {

}

.characters-info-header {
    display: flex;
    flex-direction: row;
}

.characters-info .characters-info-summary {

}

.characters-info .characters-info-summary .summary-button {
    background-color: white;
}

.characters-info .characters-info-summary .summary-button.check {
    background-color: gray;
}

.main-characters .character-list .character-info-box {
    border: 1px solid black;
}

/*-----------------MainNotices----------------*/
.main-notices {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.main-notices .main-notices-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-notices .main-notices-header h2 {
    margin-left: 10px;
    font-weight: bold;
}

.notice-board-container {
    width: 100%;
    max-width: 640px;
    margin: 20px auto 0;
    color: var(--text-color);
    height: 100%;
}

.notice-board-header {
    padding: 10px;
}

.notice-board-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 24px;
}

.notice-board-list {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.board-ul {
    list-style: none;
    padding-left: 12px;
}

.board-item {
    display: flex;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}

.board-link {
    flex: 1;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: row;
}

.board-category {
    background-color: #4caf50;
    color: #fff;
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.category-span {
    font-weight: bold;
    font-size: 13px;
}

.board-title {
    padding: 10px;
}

.board-title a {
    color: var(--text-color);
}

.board-title a:hover {
    background-color: rgba(0,0,0, 0%);
}

.board-new {
    margin-left: -8px;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-span {
    font-size: 16px;
}

.board-views,
.board-reg-date {
    padding: 10px;
    border-top: 1px solid #ddd;
}

/*-----------------MainRaids----------------*/
.main-raids {
    width: 100%;
}

.main-raids-content {
    display: flex;
    flex-wrap: wrap;
}

.main-raids-content .radis-content-box {
    width: calc(20%); /* Adjust the width of each box as needed */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-raids-content p {
    margin: 0;
    font-size: 16px;
}

/*-----------------MainWeekly----------------*/
.main-weekly {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.main-weekly .main-weekly-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-weekly .main-weekly-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-weekly .main-weekly-date .weekly-date-box {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-weekly .main-weekly-date .weekly-date-box:hover {
    background-color: #dddddd;
}

.main-weekly .main-weekly-date .weekly-date-box.check {
    background-color: #dddddd;
}

.main-weekly-content {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-weekly-content p {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.main-weekly-content ul {
    list-style-type: none;
    padding: 0;
}

.main-weekly-content ul li {
    margin-bottom: 10px;
    font-size: 16px;
}
