.content--notice {
    width: 80%;
    margin: 0 auto;
}

.board--list {
    margin-top: 20px;
}

.list--default ul {
    list-style-type: none;
    padding: 0;
}

.list--default li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
}

.list--default li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

.list__category {
    float: left;
    margin-right: 10px;
}

.list__subject {
    overflow: hidden;
}

.list__read,
.list__date {
    float: right;
    font-size: 0.8em;
    color: #777;
}

.list--default li:hover {
    background-color: #f9f9f9;
}

.icon--notice {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    text-decoration: none;
    margin: 0 4px;
    font-weight: bold;
} 

.board-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff; /* White background for the board container */
    border: 1px solid #ddd; /* Add a subtle border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:60px;
}

.pagination a {
    display: inline-block;
    padding: 8px;
    margin: 0 4px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ddd; /* Add border to separate numbers */
    border-radius:50%;
    color: var(--background); /* Change the color to your preference */
}

.pagination__number--active {
    background-color: #007bff;
    color: #fff !important;
    font-weight: bold !important;
}


/* ----------------------------------------------------------------------------------------- */

.board-info {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.notice-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.reg-date {
    color: #888;
}

.board-content {
    line-height: 1.6;
}
