.setting-table-wrap {
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.setting-table {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    border: 1px solid black;
}

@media (max-width: 900px) {
    .setting-table-wrap {
        display: block;
        overflow: hidden;
        width: fit-content;
    }
}