:root {
  --text-color: rgb(0, 0, 0);
  --text-done-color: rgb(50, 50, 50);
  --button-color: #d0e1f9;
  --content-shadow : rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  --content-border : 1px ridge black;
}

.wrap {
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  color: var(--text-color);
}

.setting-wrap {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  width: 100%;
}

.content-button {
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--text-color);
  transition: background-color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.content-button-text {
  position: absolute;
  color: black;
}

.content-box {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 48px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: var(--content-shadow);

}

.content-box p {
  margin: 0;
}

.character-info-mini {
  height: 70px;
  color: white;
  padding-left: 10px;
  padding-top: 1px;
  background-size: 120%;
  border-radius: 5px;
}

.todo-wrap {
  max-width: 1300px;
  margin-top: 10px;
}

.character-wrap {
  width: 206.6px;
}

.character-info {
  color: white;
  height: 120px;
  padding-left: 15px;
  background-size: 150%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-info span {
  margin-top: 8px;
  margin-bottom: 8px;
}

.content-wrap {
  border-radius: 4px;
  margin-bottom: 1px;
  border: var(--content-border);
}

.content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content p {
  margin: 0px;
}



.gauge-wrap {
  width: 20%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgb(136, 136, 136);
  display: flex;
  flex-direction: row;
}

.gauge {
  width: 50%;
  height: 100%;
}

.gauge-text {
  position: absolute;
  left: 35px;
  top: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 140px;
  text-align: center;
  border-radius: 4px;
}

.ing {
  background: #aae4e6;
}

.done {
  background: #0ec0c3;
  color: var(--text-done-color);
}

.text-done {
  color: var(--text-done-color);
  text-decoration: line-through;
}

.gold-border {
  border: 2px solid gold;
  border-radius: 5px;
  box-shadow: 0px 0px 10px gold;
  background-color: black;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.input-field {
  position: relative;
}

.input-field input {
  height: 12px;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  background: transparent;
  outline: none;
  border: 0px solid gray;
  color: white;
}

input:focus {
  border: 2px solid #ffcc00;
}

.character-todo button {
  width: 60px;
  height: 100%;
  font-weight: bold;
  font-size: 11px;
}

.todo-button-text {
  position: absolute;
  top: 15px;
  right: 30px;
  color: black;
}

.week-category-wrap {
  display: flex;
  /* flex-direction: column; */
}

.week-category-wrap button {
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;
  width: fit-content;
  height: 40px;
}

@media (max-width: 900px) {
  .sort-wrap {
    display: none;
    /* 요소 숨기기 */
  }
}

@media (max-width: 900px) {
  .wrap {
    font-size: 12px;
  }

  .character-wrap {
    width: 180px;
  }

  .character-info {
    height: 100px;
  }

  .gauge-text {
    left: 22px;
    top: 6px;
  }

  .character-todo button {
    width: 40px;
    font-size: 9px;
  }

  .todo-button-text {
    top: 13px;
    right: 12px;
  }

  .week-category-wrap {
    width: 220px;
    flex-direction: column;
    overflow: auto;
    overflow-x: auto;
  }
}