/* 폰트 */
@font-face {
  font-family: 'Pretendard';
  src: url('../public/font/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../public/font/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../public/font/Pretendard-Bold.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

/* 기본 */
* {font-family:'Pretendard' !important;font-weight:400;outline:none;}
html, body {background-color: var(--background);height:100%}
:root {--background: #eff1f7;--nav-color:#fff;--text-color: rgb(0, 0, 0);--text-done-color: rgb(50, 50, 50);--button-color: #d0e1f9;--content-border: 1px ridge black}
.wrap {display:flex;align-items:center;flex-direction:column;margin-top:20px;font-size:14px;color:#222;height:100%;}

/* 다크모드 */
.ui-dark {--background: #242424;--nav-color:#414141;--text-color: rgb(255, 255, 255);--text-done-color: rgb(200, 200, 200);--button-color: #4f6580;--content-border: 1px ridge white}
.ui-dark .css-hyum1k-MuiToolbar-root .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{color:#bbbbbb !important;}
.ui-dark .css-i4bv87-MuiSvgIcon-root{color:#fff !important;}
.ui-dark .css-hyum1k-MuiToolbar-root .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:first-of-type{width:180px;height:62.27px;background:url(../public/logo_white.png) no-repeat center / 150px 49.27px;}
.ui-dark .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root img{display:none;}
.ui-dark .content-box{background:#414141 !important;border:1px solid #4b4b4b !important}
.ui-dark .content-box p{color:#fff !important;}
.ui-dark .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{background:#414141 !important;border-radius:0 !important;}
.ui-dark .css-1elwnq4-MuiPaper-root-MuiAccordion-root{border:1px solid #4b4b4b !important}
.ui-dark .MuiAccordion-region{background:#414141 !important;}
.ui-dark .acc-txt{color:#bbb !important;}
.ui-dark #fade-button{background:#414141 !important;border:1px solid #4b4b4b !important;color:#bbb !important}
.ui-dark .bar{background:#222 !important;}
.ui-dark .content-button{background-color:#414141;border:1px solid #4b4b4b !important;color:#bbb !important}
.ui-dark .setting-wrap .content-button::after{border:1px solid #4b4b4b !important;}
.ui-dark .setting-wrap .content-button{background-color:#414141 !important;}
.ui-dark .character-wrap{background-color:#414141 !important;border-color:#7b7979 !important;color:#bbb !important}
.ui-dark .content-wrap{background-color:#414141 !important;;}
.ui-dark .css-14dnp92-MuiTypography-root{color:#bbb !important}
.ui-dark .gauge-box{background-color:#414141 !important;}
.ui-dark .character-wrap:nth-child(2) > .content{background-color:#414141 !important;}
.ui-dark .character-wrap:first-child .content:not(.gauge-box){border-color: #7b7979 !important}
.ui-dark .character-wrap:nth-child(2) .content-wrap{border-color: #7b7979 !important;overflow:hidden}
.ui-dark .title{color:#fff !important;}
.ui-dark .gauge-wrap{background-color:#fff;color:#222 !important;}
.ui-dark .css-t81o8v-MuiSpeedDial-root button svg{color:#222 !important;}
.ui-dark .css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab{background:#bbb !important;}
.ui-dark .content-box .bar em{color:#bbb !important;}
.ui-dark .noticeBox{background-color:#414141;}
.ui-dark .noticeBox .cont .flex .date{color:#bbb !important;}
.ui-dark .pathNote .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{background-color:#222 !important;color:#bbb;}
.ui-dark .pathNote .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{background-color:#222 !important;color:#bbb;}
.ui-dark .pathNote .css-15v22id-MuiAccordionDetails-root{background-color:#222 !important;color:#bbb;}
.ui-dark .pathNote .date{color:#bbb;}
.ui-dark .noticeBox.box05 form .comment-form-textarea{background-color:#222;color:#bbb;border-color:#7b7979}

/* .theme-label {width:64px;height:64px;position: fixed;bottom: 35px; right: 100px;display: block;background:url(../public/images/ico_dark.png) no-repeat center;border-radius:10px;cursor: pointer;z-index: 9999} */
.theme-label {width:64px;height:64px;display: flex; background:url(../public/images/ico_dark.png) no-repeat center;border-radius:10px;cursor: pointer;z-index: 9999; zoom: 60%;}
.theme-input {width: 0;height:0;visibility:hidden; display: none;}
.theme-label, .theme-label:after {transition: 0.3}

/* ---------------------- Navbar CSS ---------------------*/
.notification{background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);background-size: 400%;letter-spacing: 10px;font-size: 17px;font-weight: bold;word-spacing: 5px;-webkit-text-fill-color: transparent;-webkit-background-clip: text;animation: animate 10s linear infinite;}

@keyframes animate {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}


.content-button{position:relative;min-width:20px;width:20px;height:20px;/*transition: background-color 0.5s;*/display:flex;align-items:center;justify-content:center;margin-right:10px;border:none;font-weight:400;background:#fff;border:1px solid #e9e9e9}
.content-button svg{display:none;}
.content-button-text{position: absolute;color: black;}

.setting-wrap {position:relative;display:flex;flex-direction: row;max-width: 1280px;width: 100%;}
.setting-wrap + .setting-wrap{margin-top:7px;}
.setting-wrap .content-button{position:relative;width:150px;height:42px;margin-right:5px;padding-left:30px;z-index:1;}
.setting-wrap .content-button::after{content:'';width:18px;height:18px;border:1px solid #e9e9e9;position:absolute;left:13px;top:10px;z-index:0;}
.setting-wrap .content-button.done{background:#fff;z-index:1;color:#c9c9c9;text-decoration:line-through;}
.setting-wrap .content-button::before{content:"";position:absolute;left:0;width: 3px;height:100%;background:#d8e6dc;}
.setting-wrap .content-button.done .content-button-text:before{content:'';width:18px;height:18px;background:#73a982;position:absolute;left:-72px;top:-9px;z-index:0;}
.setting-wrap .content-button.done .content-button-text:after{content:'';width:18px;height:18px;background:url(../public/images/ico_chk04.png) no-repeat left 3px top 3px / 12px;;position:absolute;left:-72px;top:-9px;z-index:0;}

/* 일일수익 주간수익 */
.content-box {display:flex;align-items:center;justify-content:center;flex-direction:column;width:100%;padding:10px 15px;background:#fff;border:1px solid #e9e9e9;border-radius:10px;font-size:14px;position:relative;}
.content-box p {margin:0;}
.content-box p span{margin-right:3px;font-weight:300 !important;}
.content-box p:first-child{font-weight:500;font-size:16px;}
.content-box p:last-child{padding-left:26px;background:url(../public/images/ico_coin.png) no-repeat center left / 18px;font-weight:300 !important;line-height:18px;}
.content-box p.on:last-child{filter:none;}
.content-box + .content-box{margin-left:7px;}
.content-box .bar{position:relative;width:350px;height:15px;background:#eee;border-radius:15px;margin:8px 0;}
.content-box .bar i{position:absolute;left:0;top:0;height:15px;border-radius:15px;}
.content-box .bar em{position:absolute;left:45.5%;top:1px;font-style:normal;font-size:12px;}
.content-box:first-child i{background:#cfecff;}
.content-box:last-child i{background:#fee1dd;}

.todo-wrap {max-width: 1280px;margin-top: 7px;height: 100%;margin-bottom: 30px;}

.MuiGrid-container{width:calc(100% + 7px);margin-left:-7px !important;}
.MuiGrid-item{padding-left:7px !important;}

.character-wrap {width:206px;background:#fff;border:1px solid #e9e9e9;}
.character-wrap .title{position:relative;margin:8px 6px 10px;padding-left:4px;font-size:16px;font-weight:700;}
.character-wrap h3{font-size:16px;margin-bottom:3px !important;}
.character-wrap h2{font-size:14px;margin-top:5px;}

.character-wrap:first-child{border-bottom:0;border-top-left-radius:7px;border-top-right-radius:7px;overflow:hidden;}
.character-wrap:first-child .content:not(.gauge-box){height:32px;margin-left: -5px;padding:5px 3px 5px 15px;border-top: 1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9}
.character-wrap:first-child .content:not(.gauge-box):before{content:"";position:absolute;top:0;left:5px;width: 3px;height:calc(100% + 22px);background:#cfecff;z-index:4;}
.character-wrap:first-child .content:not(.gauge-box) .content-button.done{background:#32a0e7 url(../public/images/ico_chk04.png) no-repeat left 3px top 3px / 12px;z-index:1;}
.character-wrap:first-child .content:not(.gauge-box) .css-i4bv87-MuiSvgIcon-root{margin-left:auto;background:url(../public/images/ico_more.png) no-repeat center / 16px} 
.character-wrap:first-child .content:not(.gauge-box) .css-i4bv87-MuiSvgIcon-root path{display:none;}
.gauge-box{margin: -7px 0 -4px 3px;padding: 0 5px 7px !important;background: #fff}

.character-wrap:nth-child(2){border-top:0;margin-top:15px;}
.character-wrap:nth-child(2) .title{margin-top:-5px;margin-bottom:7px;}
.character-wrap:nth-child(2) .txt{margin-bottom:10px;text-align:center;font-weight:300;font-size:12px;color:#999;}
.character-wrap:nth-child(2) .content-wrap{padding-left:0 !important;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.character-wrap:nth-child(2) > .content{position:relative;margin-top:-10px;padding-top:15px !important;border-top:1px solid #e9e9e9}
.character-wrap:nth-child(2) > .content::before{display:none;}
.character-wrap:nth-child(2) .content:not(.gauge-box) > div{align-items:center;justify-content:space-between !important;width:100%;}
.character-wrap:nth-child(2) .content:not(.gauge-box) > div > div{margin-bottom:5px;}
.character-wrap:nth-child(2) .content > .content-button{position:absolute;right:5px;top:7px;font-size:13px !important;width:45px !important;height:23px;border:1px solid #dfdfdf !important;margin-right:0 !important;color:#222;font-weight:400 !important;border-radius:5px;cursor:pointer;word-break:keep-all;}
.character-wrap:nth-child(2) .content:not(.gauge-box){padding-left:15px;padding-right:5px;}
.character-wrap:nth-child(2) .content:not(.gauge-box):before{content:"";position:absolute;top:0;left:0;width: 3px;height:calc(100% + 18px);background:#fee1dd;z-index:4;}
.character-wrap:nth-child(2) .content:not(.gauge-box) .input-field input{font-weight:300 !important;color:#eb6351}
.character-wrap:nth-child(2) .content:not(.gauge-box):last-child .content-button.done{background:#ffc74e url(../public/images/ico_chk04.png) no-repeat left 3px top 3px / 12px;z-index:1;}
.character-wrap:nth-child(2) .content:not(.gauge-box) .css-i4bv87-MuiSvgIcon-root{background:url(../public/images/ico_memo.png) no-repeat center / 16px} 
.character-wrap:nth-child(2) .content:not(.gauge-box) .css-i4bv87-MuiSvgIcon-root path{display:none;}
.character-wrap:nth-child(2) .content:not(.gauge-box):last-child:before{background:#ffe7b3}
.character-wrap:nth-child(2) .content:not(.gauge-box):last-child > div > div{margin-bottom:0;}
.character-wrap:nth-child(2) .content:not(.gauge-box) .content-button.done{background:#F59488 url(../public/images/ico_chk04.png) no-repeat left 3px top 3px / 12px;z-index:1;}
.character-wrap:nth-child(2) .content:not(.gauge-box):last-child .css-i4bv87-MuiSvgIcon-root{margin-left:auto;background:url(../public/images/ico_more.png) no-repeat center / 16px}
.character-wrap:nth-child(2) .content:not(.gauge-box):last-child .minus,
.character-wrap:nth-child(2) .content:not(.gauge-box):last-child .plus{min-width:20px;height:20px;border:1px solid #e9e9e9;background-color:#FFC74F;display:flex;align-items:center;justify-content:center;font-size:18px;color:#fff;}
.character-wrap:nth-child(2) .gauge-box{padding-bottom:13px !important;}
.character-wrap:nth-child(2) .title02{border-top:7px solid #eff1f7;margin:0 -1px}
.content.title02 + .character-todo .content:before{height:100%}


.gold{margin-top:1px !important;padding-left:16px;font-size:12px;background:url(../public/images/ico_coin.png) no-repeat center left / 12px;}


.character-info { color:white; height:100px; padding-left:15px; background-size:150%;display:flex; flex-direction:column; justify-content:center;padding-bottom:12px;}
.character-info span {margin-top:8px;margin-bottom:6px;font-size:12px;}
.gold-border{margin-top:8px;background:#ecb22e;border-radius:3px;width:fit-content;padding:2px 5px;color:#222;font-size:12px;font-weight:400;}

.content-wrap{background:#fff;position:relative;}
.content-wrap + .content-wrap{margin-top:-2px;}
/* .content-wrap:first-child .content{content:"";position:absolute;left:5px;;width:3px;;height:80%;;background:#fee1dd;} */
.content-wrap .content{display:flex;align-items:center;position:relative;}

.content p {margin:0px;}

.gauge-wrap{width:20%;height:15px;border:1px solid #d7d7d7;display:flex;flex-direction:row;position:relative;z-index:1;}
.gauge-wrap + .gauge-wrap{margin-left:-1px;}
.gauge-wrap span{font-size:13px;}
.gauge {width:50%;height:100%;}
.gauge-text {display:block;width:100%;margin-top:-3px;text-align:center;position:absolute;bottom:11px;left:0;color:#222;font-size:13px;z-index:2;}

.ing::before{content:"1수";font-size:10px;text-wrap:nowrap;}
.ing2::before{content:"2수";font-size:10px;text-wrap:nowrap;}
.text-done {color:#d7d7d7;text-decoration:line-through;}

.input-field {position:relative;}
.input-field input {height:12px;width:100px;font-size:12px;font-weight:bold;border-radius:3px;background:transparent;outline:none;border:0px solid gray;color:var(--text-done-color);}
input:focus {border:2px solid #ffcc00;}

/* ---------------------- Settings CSS ---------------------*/
.setting-table-wrap {font-weight:bold;display:flex;align-items:center;flex-direction:column;color:var(--text-color);}
.setting-table {margin-top:10px;display:flex;flex-direction:row;max-width:1280px;border:1px solid black;color:var(--text-color);}
@media (max-width:900px) {
  .setting-table-wrap {display:block;overflow:hidden;width:fit-content;}
}

header{width:100% !important;box-shadow:0px 0px 20px 7px rgba(0,0,0,0.03) !important;}
.MuiAccordionSummary-content.Mui-expanded{margin:0 !important;}
/* .MuiButtonBase-root{padding:0 20px !important} */
.css-14dnp92-MuiTypography-root{font-size:16px !important;}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{min-height:48px !important;border-radius:0;}
.css-15v22id-MuiAccordionDetails-root{padding:0 20px 12px !important}

/* 아코디언 */
.sort-wrap{max-width:1280px;margin:7px 0 !important;background-color:#fff !important;border:1px solid #e9e9e9 !important;box-shadow:none !important;color:#222 !important;}
.sort-wrap::before{display:none !important;}
.acc-txt{margin-top:20px;padding-left:20px;font-size:14px;font-weight:400;background:url(../public/images/ico_alert.png) no-repeat center left / 14px;}

.character-info-mini {height:70px;color:white;padding-left:10px;padding-top:1px;background-size:120%;}
.character-info-mini p:first-child{margin:16px 0 5px;}
.character-info-mini p:last-child{margin:0;}

/* 저장버튼 */
.css-1j42s11-MuiSvgIcon-root{background:url(../public/images/ico_save.png) no-repeat top 3px center / 16px;}
.css-1j42s11-MuiSvgIcon-root path{display:none;}

/* 원정대 */
#fade-button{height:42px;margin-right:5px;font-size:14px;padding:9px 16px;background:#fff;border-radius:0 !important;color:#222 !important;border:1px solid #e9e9e9;}
#fade-button span{font-weight:700;margin-right:4px;}

/* 서버선택 버튼 */
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{margin-top:3px;}
.css-6hp17o-MuiList-root-MuiMenu-list{width:96px;box-shadow:none !important;}
.css-6hp17o-MuiList-root-MuiMenu-list li{font-size:14px;color:#222;padding:0 !important;justify-content:center;}
.css-6hp17o-MuiList-root-MuiMenu-list li:hover{background:#fee1dd !important}

.css-e3mnzv{display:none;}
.css-8atqhb{display:none;}

.css-hyum1k-MuiToolbar-root{display:flex;justify-content:space-between; min-height:56px !important;}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{color:#222 !important;}
.css-i9gxme{color:#222;}
.css-i4bv87-MuiSvgIcon-root{color:#222;}

.css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab{background:#fff !important;bottom:8px;}

/* 팝업 */
#modal-title{display:inline-block;position:relative;background-color:transparent !important;color:#222 !important;font-size:22px;text-align:center !important;font-weight:700;}
#modal-title::after{content:"";position:absolute;z-index:-1;width:100%;height:8px;background:#fee1dd;left:0;bottom:0}
.css-sghohy-MuiButtonBase-root-MuiButton-root{background-color:#ffdd8d !important;border-radius:3px !important;width:fit-content;padding:2px 10px !important;color:#222 !important;font-size:13px !important;font-weight:400 !important;box-shadow:none !important;}
.css-sghohy-MuiButtonBase-root-MuiButton-root:hover{background:inherit;box-shadow:none !important;}
pre p{margin:10px 0 5px;font-weight:400;font-size:16px;border-top:1px solid #ddd;}
pre p:first-child{border-top:0;font-weight:700;font-size:18px;}
.todo-button-text {position:absolute;top:15px;right:30px;color:black;}
.week-category-wrap {display:flex;}
.week-category-wrap button {border:1px solid #d7d7d7;border-left:0;cursor:pointer;transition:background-color 0.5s;font-weight:400;margin-bottom:7px;width:100%;height:44px;}
.week-category-wrap button:first-child{min-width:70px;border-left:1px solid #d7d7d7;}
.week-category-wrap button em{display:block;font-style:normal;margin-top:2px;font-size:12px;}

.miniModal{min-width:400px;}

.chaosVisual{margin-top:-10px;margin-bottom:20px;}
.chaosVisual .tip{font-size:14px;color:#888;font-weight:300;}
.chaosVisual p{margin:5px 0 0 0;font-size:16px !important;font-weight:400 !important;color:#2c79bd;text-align:center;border-top:0;}
.chaosVisual p strong{font-weight:500;}
.chaosVisual .flex{display:flex;align-items:flex-end;margin-top:10px;}
.chaosVisual ul{padding:0;padding-left:10px;margin:0;width:100%;}
.chaosVisual ul + ul{border-left:1px solid #eee;padding-left:20px;}
.chaosVisual ul strong{display:block;text-align:center;font-weight:400;font-size:14px;margin-left:-10px}
.chaosVisual ul li{position:relative;padding-left:10px;margin:0;font-size:15px;color:#666;}
.chaosVisual ul li::before{content:"";position:absolute;left:0;top:11px;width:3px;height:3px;background:#999;border-radius:50%;}
.chaosVisual ul li em{display:inline-block;margin-left:5px;font-style:normal;font-weight:700;color:#111;}
.chaosVisual ul li::marker{display:none;font-size:0;}
.chaosVisual .prev,
.chaosVisual .next{margin:0 15px !important;width:25px;min-height:20px;border:1px solid #dbdbdb;background-color:#eee;display:inline-flex;align-items:center;justify-content:center;font-size:15px;color:#666;}

/* 방명록 */
.noticeBox{background:#fff;padding:20px;box-sizing:border-box;border-radius:4px;}
.noticeBox + .noticeBox{margin-top:16px;}
.noticeBox > p{min-width:100px;margin:0;font-size:20px;font-weight:700;position:relative;padding-left:5px;}
.noticeBox .cont{display:flex;flex-direction:column;justify-content:center;margin-top:15px;padding-top:15px;border-top:1px dashed #c9c9c9;line-height:21px;}
.noticeBox .cont p{margin-top:0;padding:0;}
.noticeBox .cont ul{margin:0;padding:0;}
.noticeBox .cont ul li{position:relative;padding-left:10px;margin:0;font-size:15px;}
.noticeBox .cont ul li + li{margin-top:7px;}
.noticeBox .cont ul li::before{content:"";position:absolute;left:0;top:7px;width:3px;height:3px;background:#666;border-radius:50%;}
.noticeBox .cont ul li::marker{display:none;font-size:0;}
.noticeBox .cont .flex{display:flex;margin-bottom:20px;}
.noticeBox .cont .flex .date{font-weight:700;color:#333;margin:0;margin-right:10px;}
.noticeBox .cont .flex .txt{margin:0;}
.noticeBox:not(.box05){display:flex;flex-direction:column;}

/* 패치노트 */
.pathDetail{margin-top:20px !important}
.pathDetail > li{display:flex;padding-left:0 !important;}
.pathDetail > li::before{display:none;}
.pathDetail > li + li{margin-top:15px !important}
.pathDetail li > ul > li + li{margin-top:20px;}
.pathDetail li .date{min-width:90px;font-weight:700;color:#111;margin-right:10px;}
.pathDetail li p{margin:0;}
.pathDetail li p::before{display:none;}
.pathDetail li a{color:#2323f3;}

.noticeBox.box01 p:before{content:"";position:absolute;left:-7px;top:-5px;width:5px;height:5px;background:red;border-radius:50%;}
.noticeBox.box02 p:before{content:"";position:absolute;left:-7px;top:-5px;width:5px;height:5px;background:orange;border-radius:50%;}
.noticeBox.box03 p:before{content:"";position:absolute;left:-7px;top:-5px;width:5px;height:5px;background:green;border-radius:50%;}
.noticeBox.box04 p:before{content:"";position:absolute;left:-7px;top:-5px;width:5px;height:5px;background:blue;border-radius:50%;}

.pathNote{margin:0;overflow:hidden;border-radius:7px;}
.pathNote .css-1elwnq4-MuiPaper-root-MuiAccordion-root{background:#efefef;overflow:hidden;}
.pathNote .css-15v22id-MuiAccordionDetails-root{padding:16px 16px 16px !important;border-top:1px solid #ddd;}

.comments {max-width:1280px;margin:20px auto 0;color:var(--text-color);height:100%;}
.comments-title {font-size:16px;margin-bottom:20px;}
.comments-container {margin-top:40px;width:100%; padding-bottom:40px;}
.comment-form-title {font-size:18px;}
.comment-form-textarea {width:100%;height:80px;margin-bottom:8px;margin-top:8px;border:1px solid rgb(107, 114, 12);}
.comment-form-button {font-size:16px;padding:8px 16px;background:rgb(59, 130, 246);border-radius:8px;color:var(--text-color);}
.comment-form-button:hover:enabled {cursor:pointer;background:rgb(37, 99, 235);}
.comment-form-button:disabled {opacity:0.7;cursor:default;}
.comment-form-cancel-button {margin-left:10px;}
.comment {display:flex;margin-bottom:25px;}
.comment-image-container {margin-right:12px;}
.comment-image-container img {border-radius:50px;width:30px;}
.comment-right-part {width:100%;margin-top:4px;}
.comment-content {display:flex;width:100%;color:#888;font-size:14px;}
.comment-author {margin-right:8px;font-size:16px;font-weight:bold;color:var(--text-color);}
.comment-text {margin-top:10px;font-size:16px;word-wrap:break-word;line-height:22px;}
.comment-actions{display:flex;font-size:12px;color:var(--text-color);cursor:pointer;margin-top:8px;}
.comment-action {margin-right:8px;}
.comment-action:hover {text-decoration: underline;}
.replies {margin-top: 20px;}
.noticeBox.box05 form{display: flex;}
.noticeBox.box05 form .comment-form-textarea{padding:5px;border:1px solid #ddd;font-size:14px;}
.noticeBox.box05 form .comment-form-textarea::placeholder{font-size:14px;}
.noticeBox.box05 form .comment-form-button{width:100px;border:0;border-radius:0;color:#222 !important;height:92px;margin-top:8px;margin-left:8px;background:#d3deff;font-size:14px;padding:0;}

/* 설정 */
.todo-wrap.setting .character-info{position:relative;padding-bottom:30px;}
.todo-wrap.setting .character-info .css-1nrlq1o-MuiFormControl-root{position:absolute;bottom:10px;}
.todo-wrap.setting .css-hsnbfo-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{background:#ff7a7a;outline:none !important;border:0;border-radius:0;font-size:15px;font-weight:500;}
.todo-wrap.setting .css-x4xdo-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{background:#84beff;outline:none !important;border:0;border-radius:0;font-size:15px;font-weight:500;}
.todo-wrap.setting .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{padding:3px 25px;}
.todo-wrap.setting .character-wrap:first-child .content:not(.gauge-box):before{display:none}
.todo-wrap.setting .character-wrap:first-child .content:not(.gauge-box){padding:5px 10px 5px 15px;justify-content:space-between !important;}
.todo-wrap.setting .character-wrap:nth-child(2) .content:not(.gauge-box) > div{display:flex;}
.todo-wrap.setting .character-wrap:nth-child(2) .title{padding:10px 0 10px 5px}
.todo-wrap.setting .character-wrap:nth-child(2) .content:not(.gauge-box){padding:5px 10px 5px 15px !important;margin-top:0;}

/* 모바일 */
@media (max-width: 900px) {
  .sort-wrap {display: none;/* 요소 숨기기 */}
  body{min-width:100vw;}
  .wrap {padding:0 3vw;font-size: 12px;}
  .character-wrap {width: 45.7vw;}
  .character-info {height: 100px;}
  .gauge-text {top:84%;margin-top:-21px;}
  .content-box{width:100%;padding:10px 0;}
  .setting-wrap{margin-top:10px;}
  .setting-wrap .content-button{word-break:keep-all;}
  .setting-wrap .content-button:after{left:9px;}
  .setting-wrap .content-button.done{background-position:left 14px top 14px;}
  .wrap > .setting-wrap:first-child{flex-direction:column;margin-top:0;}
  .character-wrap:nth-child(2) .txt{word-break:keep-all;padding:0 5px;}
  .content-box .bar{width:300px;}
  .content-box + .content-box{margin-left:0;margin-top:5px;}
  .content-box p{font-size:14px;}
  .content-box p span{font-size:14px;}
  .content-button:last-child{margin-right:0;}
  #fade-button{width:25vw;height:100%;padding:0 !important}
  .setting-wrap .content-button.done .content-button-text:before{left:-16.9vw;}
  .setting-wrap .content-button.done .content-button-text:after{left:-16.8vw;}
  .comments{max-width:340px;overflow:hidden;}
  .css-hyum1k-MuiToolbar-root{padding:0 !important;}
  .miniModal{min-width:300px;}
  .chaosVisual ul{padding-left:10px;}
  .comment{margin-bottom:15px;}
  .plus + div{margin-left:4px !important}
}